
/*ESTILOS GENERALES*/
*{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}

/*ESTILOS INDIVIDUALES*/
body{
	font-family: verdana, sans-serif;
	background-color: brown;
	color: white;
}
h1{
	text-align: center;
	font-family: quicksand;
	font-size: 80px;
}
h1:hover, h2:hover{
	cursor: default;
}
h1::selection, h2::selection{
	background-color: none; 
}
/*---HEAD---*/

.head{
	display: flex;
	margin: 10px auto;
	justify-content: center;
	align-items: center;
}
.main-icon{
	width: 80px;
	height: 80px;
}

.login-form{
	width: 40vw;
	min-width: 80vmin;
	max-width: 60vmax;
	/*height: 70vh;*/
	height: 500px;
	background-image: linear-gradient(to right, #282C4D, #284C4D);
	margin: auto;
	padding: 20px;
	box-shadow: 0 0 20px black;
	box-sizing: border-box;
}
.login-form fieldset{
	border: none;
}
.form-title{
	font-size: 35px;
	font-family: quicksand, verdana;
	text-align: center;
}
.data-container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: 30px;
}
.label-title{
	font-family: quicksand, verdana;
	font-size: 24px;
}
.form-input{
	font-size: 20px;
	color: white;
	width: 100%;
	height: 35px;
	/*background-image: linear-gradient(to right, #281C4D, #285C4D);*/
	background: inherit;
	border: none;
	border-bottom: 2px solid white;
	outline: none;
	border-radius: 0;
	margin-top: 10px;
	position: relative;
	z-index: 0;
	transition: border-bottom-color .5s;
}
.label{
	margin: 20px 0;
	position: relative;
	overflow: hidden;
}
.label::after{
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	background-color: brown;
	bottom: 0px;
	transform: scaleX(0);
	transition: transform .5s;
	z-index: 1;
}
.label:hover::after{
	transform: scaleX(1.0);
}
.form-input:focus{
	border-bottom: 3px solid #286C4D;
	border-bottom-color: #286C4D;
	z-index: 2;
}

.login-button{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 20px;
	/*font-family: quicksand;*/
	padding: 10px;
	margin-top: 7%;
	width: 200px;
	height: 25px;
	color: white;
	background-color: #288C4D;
	border: 3px solid #284C4D;
	align-self: center;
	transition: background-color .3s;
}
.login-button:hover{
	background-color: #286C4D;
	box-shadow: 0 0 5px black; 
}

.forgot-psswrd{
	text-decoration: none;
	/*background: red;*/
	width: 230px;
	color: #289C1D;
	font-size: 17px;
}
.forgot-psswrd:hover{
	color: #286C4D;
}
.forgot-psswrd:active{
	color: #289C4D;
}


/*EFECTO DE TRANSICION EN EL BORDE INFERIOR DEL INPUT*/

/*.focus-off{
	border: none;
	background-color: royalblue;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	transform: scaleX(1.0);
	transition: transform .5s;
}
.focus-on{
	transform: scaleX(0);
}
FOCUS DE BORDE 2
.focus-off-2{
	border: none;
	background-color: royalblue;
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: 0;
	transform: scaleX(1.0);
	transition: transform .5s;
}
.focus-on-2{
	transform: scaleX(0);
}*/


@media screen and (max-width: 320px){
	.login-button{
		width: 150px;
		height: 15px;
	}
	.form-title{
		font-size: 30px;
	}
	.label-title{
		font-size: 20px;
	}
	.data-container{
		margin-top: 10px;
	}
	.form-input{
		font-size: 17px;
	}
}
@media screen and (max-width: 360px){
	.forgot-psswrd{
		width: 222px;
	}
}




